html {
    font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
    color: black;
    font-weight:120;

    background-color: #f5f5f5;

    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
}

body {
  font-size: 100%;
}

div {
  font-size: 1.2rem;
  letter-spacing:0.5px;
}

a {
    background-color: transparent;
    text-decoration: none;
    -webkit-text-decoration-skip: objects;

    color: black;
}

a:visited {
    color: black;
}

a:active {
  opacity: 0.7;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul li {
    display: inline-block;
    padding-left: 10;
}

p {
  font-size: 1.2rem;
  text-align: left;
  box-sizing: border-box;
  width: 80%;
}

footer {
  font-size: 1.1rem;
  text-align: right;
  margin: 2%;
  margin-top: 6%;
}

.left-nav {
  font-size: calc(12px + 0.9vw);
  letter-spacing:1px;
  float: left;
  margin-left: 1.5%;
  margin-top: 1.5%;
  text-align: left;
  box-sizing: border-box;
  width: 40%;
}

.row {
  width: 100%;
  clear: none;
  overflow: hidden;
}

.col-3 {
  float: left;
  text-align: left;
  box-sizing: border-box;
  width: 140px;
}

.menu {
  font-size: calc(12px + 0.9vw);
  float: right;
  margin-right: 1.5%;
  margin-top: 1.5%;
  text-align: right;
  box-sizing: border-box;
}

.menu a{
  padding: 4px;
}

.menu a:hover {
  #color: white;
  text-decoration: underline;
}

.no-scroll {
  height: 100%;
  overflow-y: hidden;
}

.link {
  text-decoration: underline;
}

.container {
  box-sizing: border-box;
  width: 80%;
  margin-bottom: 5%;
}

.arrow {
  position: absolute;
  margin-top:50%;
  font-size: 5rem;
  opacity: 1;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow a{
  padding: 25%;
  margin: -25%;
}

.arrow:hover{
  opacity: 0.5;
  cursor: pointer;
}

.email_icon {
  float: left;
  width: 30px;
  margin-bottom: 2%;
}

.insta_icon {
  width: 22px;
}


.blurred-element{

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter: blur(10px);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  pointer-events: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fade-in {
  animation: fade-in 0.3s ease-in;
  -webkit-animation: fade-in 0.3s ease-in;
  -moz-animation: fade-in 0.3s ease-in;
  -o-animation: fade-in 0.3s ease-in;
}


@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-o-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

/*Home page*/
.slide-fade-in {
  animation: slide-fade-in 2s ease-in forwards;
  -webkit-animation: slide-fade-in 2s ease-in forwards;
  -moz-animation: slide-fade-in 2s ease-in forwards;
  -o-animation: slide-fade-in 2s ease-in forwards;
}

@keyframes slide-fade-in {
  0% { opacity: 0; }
  30% { opacity: 1; }
}

@-webkit-keyframes slide-fade-in {
  0% { opacity: 0; }
  30% { opacity: 1; }
}

@-moz-keyframes slide-fade-in {
  0% { opacity: 0; }
  30% { opacity: 1; }
}

@-o-keyframes slide-fade-in {
  0% { opacity: 0; }
  30% { opacity: 1; }
}

.slide-fade-out {
  animation: slide-fade-out 2s ease-in forwards;
  -webkit-animation: slide-fade-out 2s ease-in forwards;
  -moz-animation: slide-fade-out 2s ease-in forwards;
  -o-animation: slide-fade-out 2s ease-in forwards;
}

@keyframes slide-fade-out {
  70% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes slide-fade-out {
  70% { opacity: 1; }
  100% { opacity: 0; }
}

@-moz-keyframes slide-fade-out {
  70% { opacity: 1; }
  100% { opacity: 0; }
}

@-o-keyframes slide-fade-out {
  70% { opacity: 1; }
  100% { opacity: 0; }
}

.no-anim {
  animation: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
}

.slideshow-container{
  position: relative;
  margin-top: 5%;
  margin-left: 15%;
  width: 70%;
  height: 0;
  overflow: hidden;
  padding-bottom: 39.375%;
}

.slideshow-image{
  position: absolute;
  width: 100%;
  height:100%;
  object-fit:cover;
}

.slideshow-text{
  opacity: 0;
  text-decoration: none;
  position: relative;
  top: 50%;
  left: 0%;
  text-align: center;
  font-size: calc(12px + 4vw);
  letter-spacing: 2px;
}

.slideshow:hover .slideshow-text {
  opacity: 1;
  transition: .25s ease;
}

.slideshow .arrow{
  top: -100%;
  padding: 2.5%;
  padding-bottom: 25%;
  padding-top: 25%;
  visibility: hidden;
}

.slideshow:hover .arrow {
  visibility: visible;
  transition: .25s ease;
}

.slideshow-password{
  position: relative;
  text-align: center;
  font-size: calc(12px + 1vw);
  letter-spacing: 2px;
  font-weight: 200;
}

.password-box{
  background: transparent;
  outline-width: thin;
  outline-style: none;
  width: 30%;
  height:10%;
  margin-left: 0.5%;
  font-size: calc(12px + 1vw);
  border-color: black;
  border-style: solid;
}

.dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #E5E5E5;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active, .dot:hover {
  background-color: #C0C0C0;
}

/*about page*/
.wall{
  margin-top: 5%;
  margin-left: 15%;
}

.about-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 285px;
  height: auto;
  border-radius: 100px;
}

.about-title {
  font-weight: 120;
  padding: 0px;
}

.cv {
  display: grid;
  grid-template-columns: 30% 75%;
  grid-column-gap: 11.5%;
  grid-row-gap: 25px;
  width: 80%;
}

.cv-item {
  text-align: left;
}

.cv-expand{
  text-align: left;
  text-decoration: underline;
  cursor: pointer;
}

/*reel page*/
.vimeo-video{
  position: relative;
  height: 0;
  width:80%;
  padding-bottom: 45%; /* 16:9 */

  display: block;
  margin-left: auto;
  margin-right: auto;
	margin-top: 10%;

}

.vimeo-video iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.annotation {
  width: 100%;
  text-align:center;
  font-style: italic;
  padding-top: 2%;
}

/*work page*/

.work-row{
  position: relative;
  margin-left: 12.5%;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 30.375%;
}

.grid-image{
  position: relative;
  width: 60.7%;
  margin-left:6.3%;
  border: none;
  font-size: 0;
}

.overlay{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
}

.grid-image:hover .overlay {
  opacity: 0.5;
  transition: .25s ease;
}

.overlay-text{
  text-decoration: none;
  position: relative;

  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);


  text-align: center;
  font-size: calc(6px + 4vw);
  letter-spacing: 2px;
}

.overlay-page{
  position: absolute;

  top: 5%;
  left: 25%;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 90%;
}

.password{
  font-size: calc(6px + 1.5vw);
  font-weight:200;
}

.small-password-box{
  background: transparent;
  outline-width: thin;
  outline-style: none;
  width: 30%;
  margin-left: 0.5%;
  font-size: calc(6px + 1.5vw);
  border-color: black;
  border-style: solid;
}

.work-preview{
  width: 100%;
  object-fit: cover;
}
.work-preview-portrait{
  min-height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

/*project page*/
.project-title{
  margin-top: 10%;
  margin-bottom: 4%;
  letter-spacing: 1px;
}

.project-info {
  display: grid;
  grid-template-columns: 30% 75%;
  grid-column-gap: 15%;
  width: 80%;
}

.project-info-item {
  text-align: left;
}

.project-image {
  opacity: 1;
  margin-top: 15%;
  width: 100%;
}

.project-small-image {
  opacity: 1;
  width: 100%;
}

.project-video{
  width:80%;
  margin-left: 10%;
  margin-top: 15%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /*gap: 10px;*/
  /*width: calc(3*30% + 2*10px);
  grid-template-columns: repeat(3,auto);*/

  align-items: center;
  transition: 1s;
}

.gallery_img{
  width: calc(50vh - 20px );
  margin: 8px;
  /*position: relative;*/
}

.gallery_img:hover{
  cursor: pointer;
}

.overlay-gallery{
  opacity: 0.9;
  background-color: #FFFFFF;
}

.accordion{
  max-width: 100%;
  height: 360px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
  overflow: hidden;

  margin-top: 15%;
}

.tab{
  position: relative;
  width: 20%;
  height: inherit;
  cursor: pointer;
  transition: width .5s ease;
}

.tab img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit:cover;
  transition: all .5s ease;
  border-radius: 20px;
}
/*webgl testing*/

canvas {
  display: block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  cursor: url("Images/magnifying_glass_04.png"), auto;
  /*border-radius: 100px;*/

}


#webgl-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  min-height: 100%;
}

#webgl-container > div {
  border: 1px solid #000000;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}
